@{
    ViewBag.Title = "Home Page";
}

@*showcase section*@

<section id="showcase" class="py-5 text-center text-light">
    <div class="primary-overly">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <h1 class="display-1 mt-5 pt-5">Do What You Dream Of....</h1>
                    <p class="lead">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    <a href="#" class="btn btn-light btn-lg"><i class="fa fa-arrow-right"></i> Read More</a>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid d-none d-lg-block" alt="Blind" src="~/img/bg1.5.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>

@*Subscribe sectin*@

<section id="subscribe" class="bg-dark py-5">
    <div class="container">
        <form class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <input type="text" placeholder="Name" class="form-control form-control-lg" />
                </div>
            </div> 
                <div class="col-lg-4 my-2 my-md-3 my-lg-0">
                    <div class="form-group">
                        <input type="email" placeholder="E-mail" class="form-control form-control-lg" />
                    </div>
                </div> 
            <div class="col-lg-4">
                <button class="btn btn-primary btn-lg btn-block">
                    <i class="fa fa-envelope-open-o"></i> Subscribe
                </button>
            </div>                                  
        </form>
    </div>
</section>

@*Boxs section*@
<section id="Boxs" class="text-center py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="card border-primary">
                    <div class="card-body">
                        <h3 class="text-primary">Be Batter</h3>
                        <p class="lead">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card border-primary bg-primary">
                    <div class="card-body">
                        <h3>Be Smarter</h3>
                        <p class="lead">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card border-primary">
                    <div class="card-body">
                        <h3 class="text-primary">Be Faster</h3>
                        <p class="lead">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card border-primary bg-primary">
                    <div class="card-body">
                        <h3>Be Stronger</h3>
                        <p class="lead">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*About Section*@

<section id="about" class="bg-light py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="info-book">
                    <h2 class="display-4 text-primary">Why This Book?</h2>
                    <p class="lead mt-3">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>

                @*Accordian*@
                <div id="accordion" class="pt-5" role="tablist">
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <div data-toggle="collapse" href="#collapse1">
                                    <i class="fa fa-arrow-circle-down"></i>
                                    Get Inspired
                                </div>
                            </h5>
                        </div>
                        <div id="collapse1" class="collapse show">
                            <div class="card-body" data-parent="#accordion">
                                <p class="lead">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
                                 by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum,
                                 you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend 
                                to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words,
                                 combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore
                                 always free from repetition, injected humour, or non-characteristic words etc.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card" role="tablist">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <div data-toggle="collapse" href="#collapse2">
                                    <i class="fa fa-arrow-circle-down"></i> Gain The Knowledge
                                </div>
                            </h5>
                        </div>
                        <div id="collapse2" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <p class="lead">
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
                                    by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum,
                                    you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend
                                    to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words,
                                    combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore
                                    always free from repetition, injected humour, or non-characteristic words etc.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card" role="tablist">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <div data-toggle="collapse" href="#collapse3">
                                    <i class="fa fa-arrow-circle-down"></i> Open Your Maind
                                </div>
                            </h5>
                        </div>
                        <div id="collapse3" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <p class="lead">
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
                                    by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum,
                                    you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend
                                    to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words,
                                    combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore
                                    always free from repetition, injected humour, or non-characteristic words etc.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*Meet The Author*@
<section id="author" class="text-center py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="info-author mb-5 pb-5">
                    <h2 class="display-4 text-primary">Meet The Author</h2>
                    <p class="lead mt-3">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-lg-3">
                <div class="card HV">
                    <div class="card-body">
                        <img alt="Photo are not loading..." class="ss img-fluid rounded-circle w-50 mb-3" src="~/img/Biswajit.JPG" />
                        <h3>Biswajit Pul</h3>
                        <h5>Content Creator</h5>
                        <p class="lead">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
                                    by injected humour, or randomised words which don't look even slightly believable.</p>
                        
                        <dvi class="d-flex flex-row justify-content-center">
                            <div class="p-4">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>                                
                            </div>
                            <div class="p-4">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>                                
                            </div>
                            <div class="p-4">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>                                
                            </div>
                        </dvi>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-3">
                <div class="card HV">
                    <div class="card-body">
                        <img alt="Photo are not loading..." class="ss img-fluid rounded-circle w-50 mb-3" src="~/img/Imamul.JPG" />
                        <h3>Imamul Hasan</h3>
                        <h5>Web Designer</h5>
                        <p class="lead">
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
                            by injected humour, or randomised words which don't look even slightly believable.
                        </p>
                        <dvi class="d-flex flex-row justify-content-center">
                            <div class="p-4">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </div>
                            <div class="p-4">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                    </a>
                            </div>
                            <div class="p-4">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </dvi>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-3">
                <div class="card HV">
                    <div class="card-body">
                        <img alt="Photo are not loading..." class="ss img-fluid rounded-circle w-50 mb-3" src="~/img/p (6).JPG" />
                        <h3>SAMIM HosseN</h3>
                        <h5>App Devoloper</h5>
                        <p class="lead">
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
                            by injected humour, or randomised words which don't look even slightly believable.
                        </p>
                        <dvi class="d-flex flex-row justify-content-center">
                            <div class="p-4">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </div>
                            <div class="p-4">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                    </a>
                            </div>
                            <div class="p-4">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </dvi>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-3">
                <div class="card HV">
                    <div class="card-body">
                        <img alt="Photo are not loading..." class="ss img-fluid rounded-circle w-50 mb-3" src="~/img/Pro.JPG" />
                        <h3>Prothoma Islam</h3>
                        <h5>Graphics Designer</h5>
                        <p class="lead">
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
                            by injected humour, or randomised words which don't look even slightly believable.
                        </p>
                        <dvi class="d-flex flex-row justify-content-center">
                            <div class="p-4">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </div>
                            <div class="p-4">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                    </a>
                            </div>
                            <div class="p-4">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </dvi>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*Contact Section*@
<section id="contact" class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="info-contact">
                    <h2 class="display-4">Get In Touch</h2>
                    <p class="lead">here are many variations of passages of Lorem Ipsum available.</p>
                </div>
                <form>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                            <input type="text" placeholder="Name" class="form-control form-control-lg" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                            <input type="email" placeholder="E-mail" class="form-control form-control-lg" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-pencil"></i>
                                </span>
                            </div>
                            <textarea name="message" rows="5" class="form-control form-control-lg"></textarea>
                        </div>
                    </div>
                    <div class="input-group">
                        <input type="button" class="btn btn-primary btn-lg btn-block" value="Submit" />
                    </div>
                </form>
            </div>
            <div class="col align-self-center">
                <img src="~/img/ico1.1.png" alt="Logo is not loading...." class="img-fluid d-none d-lg-block"/>
            </div>
        </div>
    </div>
</section>